# Maven build artifacts
*.class
*.war
target/
*.cache
*.versionsBackup
docs/
results-data/*
results-data/dataset-1m
results-data/dataset-10k

# Eclipse
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.cache-*

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# editor backups/autosave
*~
.#*
\#*\#


# Binary files
*.gz

*.log

autoscaler-deployment.yaml
extent-10-15-features-a.txt
extent-10-15-features.txt
mat-deployment.json
mat-deployment.yaml
mat-patch-deployment.json
summary-same-extent.csv
/results-data/
