# Maven build artifacts
*.class
*.war
target/
*.cache
*.versionsBackup
docs/

# Eclipse
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.cache-*

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# editor backups/autosave
*~
.#*
\#*\#


# Binary files
*.gz

*.log

./autoscaler-deployment.yaml
./mat-0324
./extent-10-15-features-a.txt
./extent-10-15-features.txt
./mat-deployment.json
./mat-deployment.yaml
./mat-patch-deployment.json
./summary-same-extent.csv